/* HEADER */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  background: #ffffff;
  color: #000000;

  .logo {
    height: 35px;
    margin-right: 10px;
  }
  .title {
    height: 28px;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
}
